
@{
    ViewBag.Title = "ContactUs";
}


    <br>
    <br>
    <div class="container heading">
        <h1 style="color: #333e48;">How you contact us</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h4>How you contact us</h4>
                <p>If you have any concerns about your Information on the Platform,/p>
                <p>Please contact us at Info@bring.com.pk with a through description, and we will try to resolve it.</p>
                <p>Info@bring.com.pk</p>
                <p>Support@bring.com.pk</p>
                <p>+92-311-7111999</p>
                <p>+92-319-1111999</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>


