
@{
    ViewBag.Title = "PrivacyPolicy";
}


    <br>
    <br>
    <div class="container privacyPolicy-heading">
        <h1 style="color: #333e48;">Privacy Policy</h1>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h4>Privacy Policy</h4>
                <p>All the personal information given to us and registered into your account on the website will be used only to communicate to your news about the Product and your purchases. Your information will not be shared with any third party unless you require us to.</p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h4>WHAT IF WE CHANGE OUR PRIVACY POLICY?</h4>
                <p>
                    Our business changes constantly, and our Privacy Policy may therefore also need to change. We will post the current version of this Privacy Policy on the Platform and each such change will be effective upon posting on the Platform or upon the date designated by us as the “effective date”.
                    We may e-mail periodic reminders of our notices and conditions, but you should check our Platform frequently to see recent changes.
                    It is your obligation to regularly check the Privacy Policy. Your continued use of the Platform following any such change constitutes your agreement to this Privacy Policy as so modified.
                </p>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>


