
@{
    ViewBag.Title = "Shipping";
}
<br>
<br>
<div class="container privacyPolicy-heading">
    <h1 style="color: #333e48;">Shipping</h1>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h4>Shipping</h4>
            <p>
                Your parcels will be shipped with Fan Courier or Bring delivery service. Please note that not all articles are in stock. Therefore, it may take up to 3 working days for us to create and dispatch your order.<br>
                Shipping to Other Cities<br>
                Delivery in 1-8 working days, after the product’s production is confirmed
            </p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

