
@{
    ViewBag.Title = "TermsCondition";
}

<br>
<br>
<div class="container heading">
    <h1 style="color: #333e48;">Terms & Conditions</h1>
</div>
<br>
<br>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h4>Terms & Conditions</h4>
            <p>Shopping</p>
            <br>
            <p>In order to purchase a Bring item, you do not need to create an account, just fill in your delivery and contact dates. However, creating an account will give you exclusive access to Bring updates.</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>

<div class="container heading">
    <h1 style="color: #333e48;">How to shop</h1>
</div>
<br>
<div class="container">
    <p>Select the Shop section on the website</p>
    <p>Enter the product page</p>
    <p>Select your size and required number of items</p>
    <p>Click Add to Cart</p>
    <p>To proceed to Checkout, click the cart on the upper right part</p>
    <p>Click checkout then fill in your details on the dedicated page</p>
    <p>Click Place Order</p>
    <p>Payment methods</p>
    <p>For the moment we accept one payment method – cash on delivery</p>
    <p>Tax information</p>
    <p>Purchasing on Bring is reserved for end customers, so our prices include tax.</p>
    <p>For each order, Bring will issue an invoice which will be sent attachment in the shipping confirmation e-mail and along with your parcel.</p>
    <p>Please note once the order has been confirmed, there is no way to modify the details you have entered, and it is not possible to issue a new invoice</p>
</div>

